html, body {
    margin: 0;
    padding: 1px;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    overflow-y: hidden;
}

body {
    overflow-y: auto;
    padding-left: 1vw;
}

#id-my-game {
    margin-right: auto;
    margin-left: auto;
    display: block;
    outline: black 1px solid;
    background-color: yellow;
    width: min(90vw, 90vh);
    height: min(90vw, 90vh);
}

h1 {
    font-size: 1.6rem;
    text-align: center;
}

.class-my-font {
    font-size: 1.3rem;
}

#id-my-range-task {
    width: 40vw;
    border-radius: 1px;
}

.class-image-size {
    max-width: 95vw;
    max-height: 95vh;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
}
